<div class="alert alert-info"> 
	Este sistema fue desarrollado sólo para la cargar de liquidaciones complementarias para personal Auxiliar y Docente, primario, secundario y superior.
	<br/>
	No deberá ser utilizado para la creación de otro tipo de liquidaciones
</div>